<h1>Another Example For Dependencies Injection</h1>
<button type="button" class="btn btn-success m-5" (click)="firstOne()">First</button>
<ul>
    <li *ngFor="let item of storeHere1">{{item}}</li>
</ul>
<button type="button" class="btn btn-success m-5" (click)="secondOne()">Second</button>
<ul>
    <li *ngFor="let item of storeHere2">{{item}}</li>
</ul>

<button type="button" class="btn btn-success m-5" (click)="thirdOne()">Third</button>
<ul>
    <li *ngFor="let item of storeHere3">{{item}}</li>
</ul>
